"""
# for future codes, import the following dataframes as final output from this Milestone1
# * trainDF
# * testDF

# reference paths
# BASEfldr = 'Car Images/'
# TRAINfldr = 'Train Images/'
# TESTfldr = 'Test Images/'

# use following code to invoke & import data
# from Milestone1 import trainDF, testDF;
"""

"""
Folder Structure to follow
==========================

any_location
 |
 |--- Milestone1.py
 |--- Milestone1.ipynb (optional)
 |--- sample_Code_for_milestone1_output.ipynb (optional)
 |
 |--- Car names and make.csv
 |
 |--- Annotations
 |    |
 |    |--- Test Annotation.csv
 |    |--- Train Annotations.csv
 |
 |--- Car Images
      |
      |--- Train Images
      |    |
      |    |--- *** 196 folders with train images
      |
      |--- Test Images
           |
           |--- *** 196 folders with test images

"""

In [1]:
from Milestone1 import trainDF, testDF;

imScanTrain: 100%|████████████████████████████| 196/196 [00:05<00:00, 38.38it/s]
imScanTest: 100%|█████████████████████████████| 196/196 [00:04<00:00, 40.98it/s]

In [2]:
trainDF.sample(2)

,Image,ImagePath,x1,y1,x2,y2,height,width,folderName,Image_class,OEM,MODEL,TYPE,YEAR,classEncoded,bBox
1903,06575.jpg,Car Images/Train Images/Buick Regal GS 2012/06...,64,70,452,366,550.0,412.0,Buick Regal GS 2012,46,Buick,Regal_GS,UnKnown,2012,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 70, 452, 366]"
5415,00388.jpg,Car Images/Train Images/Hyundai Santa Fe SUV 2...,18,53,244,175,256.0,192.0,Hyundai Santa Fe SUV 2012,130,Hyundai,Santa_Fe,SUV,2012,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[18, 53, 244, 175]"

In [3]:
testDF.sample(2)

,Image,ImagePath,x1,y1,x2,y2,height,width,folderName,Image_class,OEM,MODEL,TYPE,YEAR,classEncoded,bBox
4328,02576.jpg,Car Images/Test Images/Ford Mustang Convertibl...,13,32,237,173,244.0,207.0,Ford Mustang Convertible 2007,106,Ford,Mustang,Convertible,2007,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[13, 32, 237, 173]"
3422,00925.jpg,Car Images/Test Images/Dodge Caravan Minivan 1...,43,75,611,471,640.0,480.0,Dodge Caravan Minivan 1997,84,Dodge,Caravan,Minivan,1997,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[43, 75, 611, 471]"